@use "../global/" as *;

.btn{
    border: none; 
	font-size: 14px !important;
	font-family: $poppins;
    font-weight: 500;
    border-radius: 30px;
    background-color: transparent;
    transition: .2s opacity;
    cursor: pointer;
    
    &:hover, &:focus{
        opacity: .8;
        outline: none
    }
}

.text__button{
    @extend .btn;
    color: var(--black900);
    text-decoration: underline !important;
    text-underline-offset: 4px
}

.filled__button{
    @extend .btn;
    background-image: var(--gradPrimary);
    padding: 8px 16px ;
    color: white;
    box-sizing: border-box;
    
    &:disabled{
        @extend .filled__button;
        background-image: var(--gradSecondary);
        cursor: not-allowed
    }
}

.max__filled__button{
    @extend .filled__button;
    padding: 12px;
    width: 100%;    
}


.customization_radio{
    .raised_button::before{
        @extend .btn;
        color: var(--black900);
        background-color: white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 8px 16px ;
        content: "Select";
        transition: .3s background-image;
    
    }
    
    input[type=radio]:checked + .raised_button::before{
        @extend .filled__button;
        content: "Selected";
    }
}

.change-content:before {
    content: "Original Content";
    color: blue;
  }

  .change-content:hover:before {
    content: "New Content";
    color: red;
  }

