@use "../global/" as *;

input {
	border: none;
	width: 100%;
	max-width: 300px;
	background-color: transparent;
	outline: none;
	border-bottom: 2px solid;
	border-image: var(--gradSecondary);
	border-image-slice: 1;
	padding: 8px 4px;
	transition: border-image 0.3s;
	color: var(--black900);
	font-size: 14px ;
	font-family: $plus_jakarta_sans;
	margin-bottom: 10px;

	&:hover,
	&:focus {
		border-image: var(--gradPrimary);
		border-image-slice: 1;
	}

	&::placeholder {
		color: var(--black450);
		// font-size: .25rem;
		// font-family: $plus_jakarta_sans;
	}
}

.title {
    @extend input;
	margin-top: 75px;
	max-width: 100%;
	width: 100%;
    font-family: $montagu_slab;
    font-size: 24px;

}
