@use "../global/" as *;

a {
	text-decoration: none;
	font-size: 13px !important;
	font-family: $poppins;
	font-weight: 400;
	color: var(--blue800);
	text-decoration: underline;
	margin-bottom: 12px;

	&:hover {
		opacity: 0.85;
		cursor: pointer;
	}
}

.heading__link {
	@extend a;
	color: var(--black450);
	cursor: pointer;
	font-size: 14px !important;
	font-family: $poppins;
	font-weight: 600;
	transition: 0.4s all;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;

    @media (max-width: 600px) {
        display: none;
    }

	&:hover {
		color: var(--blue800);
		text-decoration: underline;
	}
}
