:root{
    --black900: #1E1E1E;
    --black600: #4A4A4A;
    --black500: #6B6B6B;
    --black450: #837F7F;
    --blue800: #0F36A9;
    --green100: #F5F7F5;
    --gradPrimary: linear-gradient(135deg, #1A98EA, #0F36A9);
    --gradSecondary: linear-gradient(135deg, #BEE5FF, #B7C9FF);
}